<? xml version = "1.0" encoding = "UTF-8"?>
<! DOCTYPE log4j: Configuración del sistema "log4j.dtd">

<log4j: xmlns configuración: log4j = "http://jakarta.apache.org/log4j/">
  <appender name = clase "consola" = "org.apache.log4j.ConsoleAppender"> 
    <param name = valor "Target" = "System.out" /> 
    <clase layout = "org.apache.log4j.PatternLayout"> 
      <param name = value "ConversionPattern" = "% - 5p% c {1} -% m% n" /> 
    </ layout> 
  </ appender> 

  <root> 
    <valor de prioridad = "depuración" /> 
    <appender-ref ref = "consola" /> 
  </ root>

</ log4j: configuración>